<h1>Episode Number:<%= @episode.number %></h1> <br>

<h1>Guests:</h1>
<% @episode.guests.each do |guest| %>
<li>Guest Name: <%= guest.name %></li><br>
<% end %>

<%= link_to 'Back to all', episodes_path %>
